<div id = "content">

  <div id = "about1">
    <h2>Who am I?</h2>
  </div>

  <div id="about2">
    <div class="datawrapper">
      <div class="about2data">
        <p>Where am I from?</p>
      </div>
      <h6>Cincinnati, OH</h6>
      <p>I was born and raised in Cincinnati, Ohio. I've traveled to many different states and a handful of different countries during my time in the military.</p>
    </div>
    <div class="datawrapper">
      <div class="about2data">
        <p>What do I do?</p>
      </div>
      <h6>Software engineering</h6>
      <p>After my tour in the military, I attended MAX technical school to receive the knowledge necessary to become a C# full stack developer. I currently have about a year of experience in the corporate production environment. I favor API development,
        but I am proficient in most modern front end languages as well.
      </p>
    </div>
    <div class="datawrapper">
      <div class="about2data">
        <p>What are my hobbies?</p>
      </div>
      <h6>Technology and the outdoors</h6>
      <p>Outside of being a fan of just general software development outside of the production environment, I am also an avid fan of the outdoors and other forms of technology. I spend the majority of my free time fishing, enjoying video games with friends or using
        the youtube platform to further my knowledge on topics I'm interested in.
      </p>
    </div>
  </div>


</div>


